{
  "port": 1337,
  "newsletter": {
    "listId": "list.example.com",
    "signupUrl": "http://exampleserver/members",
    "auth": {
      "username": "example",
      "password": "secret"
    }
  }
}